        <activity android:name=".Conditions" />
        <activity android:name=".Quiz" />
        <activity android:name=".GuideScreen" />
        <activity android:name=".VideoScreen" />
        <activity android:name=".EyeRecognitionScreen" />
        <activity android:name=".TestStartScreen" />
        <activity android:name=".EducationVideoScreen" />
        <activity android:name=".Focusing" />
        <activity android:name=".CompletionScreen" />
